.parent {
  display: flex;
  width: auto;

  &Vertical {
    flex-direction: column;
  }

  // &Horizontal {
  //   width: 60px;
  // }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 22px;

  $padding: 8px;

  &Vertical {
    height: $cellSize;
    padding: 0 $padding;
  }

  &Horizontal {
    width: $cellSize;
    padding: $padding 0;
  }
}