.parent {
  border: 8px solid $grey;
  box-shadow: 0 0 0 2px $light;
}

.wrapperNumber {
  width: 100%;
  height: 100%;
  background-color: $light;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
}